<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.ClppMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Clpp" >
    <id column="clppID" property="clppid" jdbcType="INTEGER" />
    <result column="clppName" property="clppname" jdbcType="VARCHAR" />
    <result column="clppSzm" property="clppszm" jdbcType="VARCHAR" />
    <result column="bz1" property="bz1" jdbcType="INTEGER" />
    <result column="bz2" property="bz2" jdbcType="INTEGER" />
    <result column="bz3" property="bz3" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    clppID, clppName, clppSzm, bz1, bz2, bz3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from clpp
    where clppID = #{clppid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from clpp
    where clppID = #{clppid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.Clpp" >
    insert into clpp (clppID, clppName, clppSzm, 
      bz1, bz2, bz3)
    values (#{clppid,jdbcType=INTEGER}, #{clppname,jdbcType=VARCHAR}, #{clppszm,jdbcType=VARCHAR}, 
      #{bz1,jdbcType=INTEGER}, #{bz2,jdbcType=INTEGER}, #{bz3,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.Clpp" >
    insert into clpp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clppid != null" >
        clppID,
      </if>
      <if test="clppname != null" >
        clppName,
      </if>
      <if test="clppszm != null" >
        clppSzm,
      </if>
      <if test="bz1 != null" >
        bz1,
      </if>
      <if test="bz2 != null" >
        bz2,
      </if>
      <if test="bz3 != null" >
        bz3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clppid != null" >
        #{clppid,jdbcType=INTEGER},
      </if>
      <if test="clppname != null" >
        #{clppname,jdbcType=VARCHAR},
      </if>
      <if test="clppszm != null" >
        #{clppszm,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null" >
        #{bz1,jdbcType=INTEGER},
      </if>
      <if test="bz2 != null" >
        #{bz2,jdbcType=INTEGER},
      </if>
      <if test="bz3 != null" >
        #{bz3,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.Clpp" >
    update clpp
    <set >
      <if test="clppname != null" >
        clppName = #{clppname,jdbcType=VARCHAR},
      </if>
      <if test="clppszm != null" >
        clppSzm = #{clppszm,jdbcType=VARCHAR},
      </if>
      <if test="bz1 != null" >
        bz1 = #{bz1,jdbcType=INTEGER},
      </if>
      <if test="bz2 != null" >
        bz2 = #{bz2,jdbcType=INTEGER},
      </if>
      <if test="bz3 != null" >
        bz3 = #{bz3,jdbcType=INTEGER},
      </if>
    </set>
    where clppID = #{clppid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.Clpp" >
    update clpp
    set clppName = #{clppname,jdbcType=VARCHAR},
      clppSzm = #{clppszm,jdbcType=VARCHAR},
      bz1 = #{bz1,jdbcType=INTEGER},
      bz2 = #{bz2,jdbcType=INTEGER},
      bz3 = #{bz3,jdbcType=INTEGER}
    where clppID = #{clppid,jdbcType=INTEGER}
  </update>
</mapper>